<h2>The Garage</h2> 

	<hr > 

<table class='table'>
	<tr> 
		<td>Description</td>
		<td>Name</td>
		<td>Color</td>
		<td>Mileage</td>
		<td>Owner</td>
		<td>Actions</td>
	</tr>  
	<tr> 
		<% @cars.each do |car| %> 
		<tr> 
			<td><%= car.year %> <%= car.make %> <%= car.model %></td> 
			<td><%= car.name %></td>
			<td><%= car.color %></td>
			<td><%= car.mileage %></td>
			<td> owner's name </td> 
			<td> <%= link_to "Show", "/cars/show/#{car.id}", class="btn btn-primary" %></td> 
		</tr> 
		<% end %>  
	</tr> 


</table> 