<%= link_to "Back", '/' %> 

<h2><%= car.year  %> <%= @car.make %> <%= @car.model %></h2>

<br><hr> 

<table class="table"> 

	<tr>
		<td>Name</td>
		<td><%= @car.name %></td>
	</tr> 

	<tr>
		<td>Color</td>
		<td><%= @car.color %></td>
	</tr> 

	<tr>
		<td>Mileage</td>
		<td><%= @car.mileage %></td>
	</tr> 

	<tr>
		<td>Owner</td>
		<td>Owner goes here</td>
	</tr> 

</table> 